.about {
  min-height: 1146px;
  margin-top: 22px;
  padding-top: 371px;
  background-image: url("../public/img/about/about_bg.jpg");
  background-size: cover;
  position: relative;
  overflow: hidden;

  @media screen and (max-width: 768px) {
    padding-top: 80px;
  }

  &::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(27, 27, 27, 0.2);
  }
}

.about__container {
  width: min(1454px, 100%);
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
  padding-right: 10px;
  position: relative;
  z-index: 2;
}

.about__title {
  font-weight: 700;
  font-size: 96px;

  @media screen and (max-width: 1200px) {
    font-size: 76px;
  }
  @media screen and (max-width: 768px) {
    font-size: 68px;
    text-align: center;
  }
}

.about__description {
  max-width: 1059px;
  margin-top: 40px;
  margin-bottom: 42px;
  font-weight: 600;
  font-size: 32px;
  @media screen and (max-width: 1200px) {
    font-size: 26px;
  }
  @media screen and (max-width: 768px) {
    font-size: 24px;
    text-align: center;
  }
}

.about__more {
  width: 269px;
  height: 68px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  border-radius: 7px;
  font-weight: 600;
  font-size: 24px;
  color: #000;
  transition: background-color 200ms ease;

  @media screen and (max-width: 768px) {
    margin-left: auto;
    margin-right: auto;
  }

  &:hover {
    background-color: #ccc;
  }
  &:active {
    background-color: #fff;
  }
}

.about__img {
  position: absolute;
  bottom: 0;
  right: 0;

  @media screen and (max-width: 768px) {
    min-width: 740px;
    height: 70vh;
    scale: -1 1;
    right: auto;
    left: 0;
  }
}
